{% extends 'base.html' %}
{% load static %}


{% block extra_headers %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}


{% block content %}

{% for product in products %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <a href="{{ product.get_absolute.url }}" class="btn btn-primary">Detial</a>
        </div>
    </div>
{% endfor %}
{% endblock %}