{% extends 'base.html' %}
{% load static %}


{% block extra_headers %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}


{% block content %}

{% for category in categories %}
    <a href="{{ category.get_absolute_url }}" class="btn btn-info"> {{ category.name }} </a>
{% endfor %}

</br></br></br>

{% for product in products %}
    <div class="card" style="width: 18rem; display:inline-block;">
        <img class="card-img-top" src="{{product.image.url}}">
        <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Detail</a>
        </div>
    </div>
{% endfor %}
{% endblock %}